body {
  margin: 0px;
}
h1.site-title{
    text-align: center;
    font-size: 3rem;
    color: #3aeeee;
}
.name{
  font-size: 23px;
}
.light-prof{
  font-size: 18px;
}
/*時系列*/
.timeline{
  list-style: none;
}
.timeline > li {
  margin-bottom: 60px;
}
@media(min-width : 640px){
  .timeline > li {
    overflow: hidden;
    margin: 0;
    position: relative;
  }
  .timeline-date{
    width: 110px;
    float: left;
    margin-top: 20px;
  }
  .timeline-content{
    width: 75%;
    float: left;
    border-left: 3px #e5e5d1 solid;
    padding-left: 30px;
  }
  .timeline-content:before{
    content: '';
    width: 12px;
    height: 12px;
    background: #6fc173;
    position: absolute;
    left: 106px;
    top: 24px;
    border-radius: 100%;
  }
}
/*タイトルリンク*/

.link-list {
  text-align: right;
  font-size: 20px;
}
.link-list li{
    display: inline;
}
a{
   text-decoration: none;
}
.link-list a:hover{
  color : #ff7043;
  text-decoration: none;
}

/*スライドショー*/
.login-img{
  width: 600px;
  height: 300px;
}
.register-img{
  width: 600px;
  height: 300px;
}
.timeregister-img{
  width: 600px;
  height: 300px;
}
.view-img{
  width: 600px;
  height: 300px;
}
.csv-img{
  width: 600px;
  height: 300px;
}
.sliderArea {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 25px;
}
.sliderArea.w300 {
  max-width: 300px;
}
.slick-slide {
  margin: 0 5px;
}
.slick-slide img {
  width: 100%;
  height: auto;
}
.slick-prev, .slick-next {
  z-index: 1;
}
.slick-prev:before, .slick-next:before {
  color: #000;
}
.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}
.slick-active {
  opacity: 1;
}
.slick-current {
  opacity: 1;
}
.thumb {
  margin: 20px 0 0;
}
.thumb .slick-slide {
  cursor: pointer;
}
.thumb .slick-slide:hover {
  opacity: .7;
}

/*スキルテーブル*/
.hoshi-info{
position: absolute;
right: 300px;
}
.hoshi-info td{
  font-size: 18px;
}
.skil-table td{
  width: 200px;
  font-size: 18px;
}
/*フォーム*/
form{
  margin:0 auto;
}
form dl{
  display: flex;
}
form dl dt{
  width: 150px;
}