body{
  margin: 0;
}
.wrapper {
  max-width: 1025px;
  margin: 0 auto 130px auto;
  font-size: 1rem;
  padding: 0 4%;
}
#header {
  max-width: 960px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 270px;
  margin: 0 auto;
  padding: 0 4%;
}
.sec-title{
  font-family: Ms Gothic;
  color: #00351d;
  font-size: 28px;
  padding: .25em 0 .25em .75em;
  border-left: 6px solid rgb(6, 184, 0);
}
h1.site-title{
    font-family: Yu Mincho;
    font-size: 4.5rem;
    color: #3aeeee;
    -webkit-text-stroke: 1px #000;
}
.name{
  font-family: Ms Gothic;
  font-size: 30px;
}
.light-prof{
  font-size: 17px;
}
/*時系列*/
.timeline{
  list-style: none;
}
.timeline > li {
  margin-bottom: 60px;
}
@media(min-width : 640px){
  .timeline > li {
    overflow: hidden;
    margin: 0;
    position: relative;
  }
  .timeline-date{
    width: 110px;
    float: left;
    margin-top: 20px;
  }
  .timeline-content{
    width: 75%;
    float: left;
    border-left: 3px #e5e5d1 solid;
    padding-left: 30px;
  }
  .timeline-content:before{
    content: '';
    width: 12px;
    height: 12px;
    background: #6fc173;
    position: absolute;
    left: 106px;
    top: 24px;
    border-radius: 100%;
  }
}
/*タイトルリンク*/

.link-list {
  font-size: 18px;
}
.link-list li{
    display: inline;
}
a{
   text-decoration: none;
}
.link-list a:hover{
  color : #ff7043;
  text-decoration: none;
}

/*スライドショー*/
.login-img{
  width: 600px;
  height: 300px;
}
.register-img{
  width: 600px;
  height: 300px;
}
.timeregister-img{
  width: 600px;
  height: 300px;
}
.view-img{
  width: 600px;
  height: 300px;
}
.csv-img{
  width: 600px;
  height: 300px;
}
.sliderArea {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 25px;
}
.sliderArea.w300 {
  max-width: 300px;
}
.slick-slide {
  margin: 0 5px;
}
.slick-slide img {
  width: 100%;
  height: auto;
}
.slick-prev, .slick-next {
  z-index: 1;
}
.slick-prev:before, .slick-next:before {
  color: #000;
}
.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}
.slick-active {
  opacity: 1;
}
.slick-current {
  opacity: 1;
}
.thumb {
  margin: 20px 0 0;
}
.thumb .slick-slide {
  cursor: pointer;
}
.thumb .slick-slide:hover {
  opacity: .7;
}
.works-info{
  font-size: 17px;
}
.used-language{
  font-size: 18px;
}
.app-link{
  text-align: center;
}
.app-front{
  display: inline-block;
  padding: 0.5em 2em;
  text-decoration: none;
  background: #668ad6;
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.app-front:active{
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}
.github{
  display: inline-block;
  padding: 0.5em 2em;
  text-decoration: none;
  background: #000000;
  color: #FFF;
  border-bottom: solid 4px #cecece;
  border-radius: 3px;
}
.github:active{
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}
/*スキルテーブル*/

.hoshi-info ul{
  font-size: 17px;
  list-style-type: none;
}
.skil-table{
  background-color: #fff;
}
.skil-table td{
  background-color: #fff;
  width: 200px;
  font-size: 18px;
}
.skil-exp{
  font-size: 17px;
}

.rate{
  position: relative;
  display: inline-block;
}
.rate::before{
  content:"★★★★★";
  color: #ccc;
}
.rate1::before,
.rate1::after,
.rate2::before,
.rate2::after,
.rate3::before,
.rate3::after,
.rate4::before,
.rate4::after,
.rate5::before,
.rate5::after{
  position: absolute;
  top: 0;
  left: 0;
  color: #FFA500;
  overflow: hidden;
  height: 24px;
}
.rate .rate1::after{
  content: "★";
}
.rate .rate2::after{
   content: "★★";
}
.rate .rate3::after{
  content: "★★★";
}
.rate .rate4::after{
  content: "★★★★";
}
.rate .rate5::after{
  content: "★★★★★";
}

.excel-rate::before,
.excel-rate::after,
.vba-rate::before,
.vba-rate::after,
.java-rate::before,
.java-rate::after,
.sql-rate::before,
.sql-rate::after,
.html-rate::before,
.html-rate::after,
.css-rate::before,
.css-rate::after,
.js-rate::before,
.js-rate::after,
.jq-rate::before,
.jq-rate::after{
  position: absolute;
  top: 0;
  left: 0;
  color: #FFA500;
  overflow: hidden;
  height: 24px;
}
.rate .excel-rate::after{
  content: "★★★★★";
}
.rate .vba-rate::after{
  content: "★★★★";
}
.rate .java-rate::after{
  content: "★★★";
}
.rate .sql-rate::after{
  content: "★★";
}
.rate .html-rate::after{
  content: "★★";
}
.rate .css-rate::after{
  content: "★★";
}
.rate .js-rate::after{
  content: "★";
}
.rate .jq-rate::after{
  content: "★";
}
/*フォーム*/
#contact dl {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
#contact dt {
  font-size: 18px;
  width: 15%;
}
#contact dd {
  width: 85%;
  margin-bottom: 10px;
}
#contact dd input,
#contact dd textarea {
  width: 100%;
  border: solid 1px #c8c8c8;
  padding: 10px;
}
#contact dd textarea {
  height: 10rem;
}
#contact .submit-button {
  text-align: center;
}
#contact .submit-button input {
  width: 200px;
  background-color: #0075eb;
  color: #fff;
  padding: 15px 0;
  border: solid 1px #000000;
}
#contact .submit-button input:hover {
  background: #fff;
  color: #24292e;
}
  #contact dl {
    flex-direction: column;
  }
#footer {
  background-color: #535353;
  color: #fff;
  font-size: 0.5rem;
  padding: 10px 20px;
  text-align: center;
}